


BODY {

 background-color : #000000;

 color : #CC0000;

 font-size : 10pt;

 font-family : "Courier New",Courier,mono;

}



BODY#index {

 padding : 140px,0px,0px,0px;

 text-align : center;

}



BODY#frame {

 padding : 20px,0px,0px,0px;

 text-align : center;

}



BODY#main {

 padding : 100px,0px,140px,0px;

 text-align : center;

}



BODY#game1 {

 padding : 40px,100px,140px,100px;

}



BODY#game2 {

 padding : 40px,100px,140px,100px;

}



BODY#screen {

 padding : 40px,0px,140px,0px;

 text-align : center;

}



A {

 text-decoration : none;

}



A:link {

 color : #9999ff;

}



A:active {

 color : #9999ff;

}



A:visited {

 color : #666699;

}



A:hover {

 color : #CCCC00;

}



#center {

 text-align : center;

}



#margin_a {

 margin-left : 210px;

}



#margin_b {

 margin-left : 200px;

}



#margin_c {

 margin-left : 218px;

}



#margin_d {

 margin-left : 244px;

}



#size1 {

 font-size : 8px;

}



TD#WID_A {

 WIDTH : 160px;

}



#WID_B {

 WIDTH : 700px;

}



TD {

 font-size : 10pt;

}



